body{
    background-color: white;
    color:black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 1.5em;
}

.header{
    border: 1px,1px,1px,1px;
    border-style: dotted;
    border-color: black;
}

img{
    margin-left: 5.0em;
    width: 100px;
    height: 150px;
    box-sizing: border-box;
    box-align: left;
    float: left;
}

.data{
    margin-left: 20.0em;
    float: auto;
    /* box-sizing: border-box; */
    /* box-align: right; */
}


#navbar{
    background-color: coral;
    color: wheat;
}
#navbar ul{
    padding: 0;
    list-style: none;
}
#navbar li{
    display: inline;
    padding: 15px;
}

.experience{
    margin: 150px;
    padding: 100px;
}


